@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

html,
body {
	background-color: black;
	color: white;
	background-size: 200px 200px;
	background-image: linear-gradient(
			to right,
			rgba(255, 255, 255, 0.1) 1px,
			transparent 1px
		),
		linear-gradient(
			to bottom,
			rgba(255, 255, 255, 0.1) 1px,
			transparent 1px
		);
	padding: 0;
	margin: 0;
	font-family: 'Inter', sans-serif;
}

.outline_text {
	-webkit-text-stroke: 0.8px white;
	color: black;
}

.outline_text_muted {
	-webkit-text-stroke: 0.8px rgba(255, 255, 255, 0.5);
	color: black;
}

.outline_text_transparent {
	-webkit-text-stroke: 0.8px white;
	color: transparent;
}

header h1 {
	@apply text-8xl;
	font-family: 'Inter', sans-serif;
	line-height: 90%;
	font-weight: 900;
	margin-bottom: 0;
}

.muted {
	color: #aaa;
}

h2 {
	font-size: 2.5rem;
	font-weight: 900;
	margin-bottom: 0;
}

.container {
	width: 80%;
	margin: auto;
}

a {
	color: inherit;
	text-decoration: none;
}

p {
	line-height: 200%;
}

* {
	box-sizing: border-box;
}

.about-me > p {
	width: 65%;
	margin: 2rem auto;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
