.header {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 7rem;
}

.header_content {
	@apply flex items-center justify-center;
}

.image {
	width: 20px;
	margin: auto;
}

/* .header_content div {
	@apply my-5;
} */

.muted {
	@apply text-white/50;
}
